extends ../_layout

block variables
    - var title = 'Главная страница'

block content
    -
        var socials = [
            {
                class: 'vk',
                text: 'Вконтакте',
                link: 'https://vk.com/sonlex'
            },
            {
                class: 'gh',
                text: 'Github',
                link: 'https://github.com/vostack13'
            },
            {
                class: 'fb',
                text: 'Фейсбук',
                link: 'https://www.facebook.com/stanislav.vozikov.9'
            },
        ]

    -
        var menu = [
            {
                text: 'Мои работы',
                link: '/works.html'
            },
            {
                text: 'Обо мне',
                link: '/about.html'
            },
            {
                text: 'Блог',
                link: '/blog.html'
            },
        ]

    .welcome
        .welcome__login-btn
            //- button(type="button").login-btn Авторизоваться
        .welcome__content
            aside.form-panel
                .form-panel__content.user
                    .user__pic
                        img(src="/assets/img/avatar.jpg" alt="Аватар Станислава Возикова").user__pic-img
                    .user__desc
                        h1.user__desc-name Станислав Возиков 
                        p.user__desc-info Личный сайт веб разработчика
                    .user__socials
                        h2.visible-hiden Мои социальные сети
                        ul.socials
                            each item in socials
                                li.socials__item
                                    a(
                                        href=`${item.link}`
                                        class=`socials__item-${item.class}` 
                                        target="_blank"
                                    ).socials__link= item.text
                .form-panel__btns
                    h2.visible-hiden Меню сайта
                    ul.form-panel__btns-list.nav-main
                        each item in menu
                            li.form-panel__btns-item.nav-main__item
                                a(
                                    href=`${item.link}`
                                ).nav-menu__link= item.text
        .welcome__copyright
            p © Станислав Возиков | Cоздано с любовью в LoftSchool | 2017 — 2018