extends ../_template

block variables
    - var title = 'Главная страница'

block content

    // Cекция Hero
    section.section.hero
        .hero__socials
            // добавляем компоненту социалок
            ul.socials
                each item in ['vk', 'gh', 'fb']
                    li.socials__item
                    a(href="" class=`social__item-${item}`).socials__link
        .hero__menu.hamburger
        .hero__title
            .section-title
                img.section-title__pic
            .user.hero__user
                .user__pic
                    img.user__pic-img
                .user__desc
                    .user__desc-name Станислав Возиков
                    .user__desc-info Личный сайт веб разработчика 
        .hero__scroll-btn
            button(type="button").arrow-down Вниз

    // Секция About
    section.section.about
        .about__left
            .about__left-title
                .block-title Обо мне
            .about__left-content
                .user-desc
                    .user-desc__img
                        img.user-desc__avatar
                    .user-desc__title
                        .block-subtitle Кто я
                    .user-desc__text.text-content
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Подзаголовок единственное жаренные точках, курсивных агентство выйти имени заголовок о. Текстами продолжил которой имеет предложения предупреждал курсивных, реторический гор маленькая.
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Подзаголовок единственное жаренные точках, курсивных агентство выйти имени заголовок о. Текстами продолжил которой имеет предложения предупреждал курсивных, реторический гор маленькая.
        .about__right
            .about__right-title
                .block-subtitle Чем я могу быть Вам полезен
            .about__right-desc.text-content
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ее, несколько! Родного, переписали образ!
            .about__right-content
                ul.skills-list
                    li.skills-list__item
                        .skills-row
    section.section
    footer.footer